{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content%}
<!-- jombotron -->
<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Login</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="mb-3">
            <!-- <label for="usernameInput" class="form-label">{{form.username.label}}</label> -->
            {{ wtf.form_field(form.username, class='form-control', placeholder='Enter your username') }}
            <div id="usernameHelp" class="form-text" style="color:red;">{{login_message}}</div>

        </div>
        
        <div class="mb-3">
            <!-- <label for="passwordInput" class="form-label">{{form.password.label}}</label> -->
            {{ wtf.form_field(form.password, class='form-control', placeholder='Enter your password') }}
        </div>
        {{ wtf.form_field(form.submit, class='btn btn-primary') }}
    </form>
</div>

{% endblock %}
