{% extends "base.html" %}
{% block content %}
<!-- <style>
    *{
    border: 1px solid #000  
    }
</style> -->

<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">You've sucessfully loged in!</p>
</div>

<form class="d-flex" method="post">
    <input class="form-control me-2" name="book" placeholder="Search the book by name" aria-label="Search">
    <button class="btn btn-outline-success" name='send' type="submit" value='search_books'>Search</button>
</form>
<br>
<div class="row row-cols-3" style="display: flex; flex-wrap: wrap; width: 100vw;">
    {% for book in owned_books %}
    <div class="col">
        <div class="card " style="width: 20vw;">
            <img src="{{book['img_url']}}" class="img-thumbnail" alt="Image not found" onerror="this.onerror=null;this.src='imageNotFound.png';" style=" width: 100%;  height: auto; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{book['title']}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{book['authors']}}</h6>
                <p class="card-text">Categories : {{book['categories']}}</p>
                <div class="row">
                    <div class="col">
                        <a href="{{book['purchase_url']}}" class="btn btn-primary" target="_blank">Purchase </a>
      
                    </div>
                    <div class="col">
                        <form method="post">
                            <input type="hidden" name="del_B_id" value="{{book['B_id']}}">
                            <input type="submit" name='send' class="btn btn-secondary " value='delete'>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


<!-- 
    <div class="container-lg">
        <div class="row row-cols-3" style="display: box; flex-wrap: wrap; width: 100vw;">
            {% for book in owned_books %}
            <div class="col">
                <div class="card " style="width: 20vw;">
                    <img src="{{book['img_url']}}" class="img-thumbnail" alt="Image not found" onerror="this.onerror=null;this.src='imageNotFound.png';" style=" width: 100%;  height: auto; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{book['title']}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{book['authors']}}</h6>
                        <p class="card-text">Categories : {{book['categories']}}</p>
                        <div class="row">
                            <div class="col">
                                <a href="{{book['purchase_url']}}" class="btn btn-primary">Purchase </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            dddd
            {% endfor %}
        </div>
    </div> -->


{% endblock %}